#liuime_Menu
{
	position:absolute;
	visibility: hidden;
	z-index:99999;
	left: 20px;	
	width: 354px;
	height: 20px;
	border: 2px outset gray;
	border-spacing:0px;
	background-color:#ffffff;
	padding: 0 0 0 0px;
}

#liuime_Menu1
{
	width: 350px;
	height: 20px;
	background-color:#ffffff;
	border:0px;
	padding: 0 0 0 0px;
}

#liuime_Lang
{
	width: 20px;
	height: 20px;
	background-color:#ffffff;
	background-repeat: no-repeat;
	background-size: 20px auto;
	border:0px;
	padding: 0 0 0 0px;
}
#liuime_Selection
{
	width: 250px;
	height: 20px;
	background-color:#ffffff;
	font-size:16px;
	border:0px;
	padding: 0 0 0 0px;
}
#liuime_CodeBuffer
{
	width: 70px;
	height: 20px;
	background-color:#ffffff;
	font-size:16px;
	border:0px;
	padding: 0 0 0 0px;
}